<script>
$(document).ready(function(){
  $("#checkform").on("click", function(event) {
    var s=0;
    $(".shours").each(function(){
     s += parseFloat(this.value);
    });
    if (s>8)
    {
      $("#result").text("Total Hours not exceed 8 Hours");
      event.preventDefault();
    }
    });
});

function sumhours(value)
{	
 if (value>8)
 {

  document.getElementById("result").innerHTML = " Total Task Hours  should be in the range inside 8 hours";
 }
}

function allelements(form)
{
   document.getElementById("result").innerHTML = form.elements; 
}
</script>
<h1> Multi Tasks With with  Multi Project</h1> 

<% if @errors %>
    <hr>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@errors.count, "error") %> 
        prohibited  this Task from being saved:
      </h2>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
   </div>
<% end %>
<hr>
<div id="result">

</div>
<%= nested_form_for @project,:id => "myform", url: 'update' do |f| %>

  select Task date : 
  <% if @taskdate %>
    <%= date_field(:obj, :taskdate, :value => @taskdate) %>
  <% else %>
    <%= date_field(:obj, :taskdate) %>
  <% end %>
  
  <%= f.fields_for :tasks do |task_form|  %>
  <table border=1>
  <tr><td>Project title</td><td>
  <%= task_form.collection_select(:project_id, Project.all, :id, :title) %></td></tr>
  <tr><td>Title</td><td><%= task_form.text_field :title %></td></tr>
  <tr><td>Description</td><td><%= task_form.text_field :description %></td></tr>
  <tr><td>Estimated Hours</td><td><%= task_form.text_field :hours, :class => "shours" %></td></tr> 
  <tr><td><%= task_form.link_to_remove "Remove this task" %></td></tr>
  </table>
  <% end %>
<p><%= f.link_to_add "Add a task", :tasks %></p>
<%= f.submit :Create,:id =>"checkform" %>
<% end %>
