<head>
<script>
$(document).ready(function(){
  $("#checkform").on("click", function(event) {

    var s=0;
    $(".shours").each(function(){

    a= parseFloat(this.value);
      s += a
    });
    if (s>8)
    {
      $("#result").text("Total task Hours not exceed 8 Hours.");
    }
    else if (s<0.5)
    {
      $("#result").text("Total task Hours not less than 0.5 Hour");
    }
     event.preventDefault();
    $.ajax(
      {
        url: "updateajax",
        type: "POST",
        dataType: "json",
        data: $('form').serialize(),
        created: function(result){
        $("form")[0].reset()  
        $("#result").text("Task Added Successfully"); 
        },
        unprocessable_entity: function(result){
        $("#result").text("Task not added");
        }
    });
    // $.ajax("updateajax",$('form').serialize(),
    //     function(data,status){
    //         if (status=='success')
    //         {
    //         $("#result").html(data);
    //         $("form")[0].reset()
    //         }

    //     });

   
    });
});

function sumhours(a)
{	

    if (a==0)
    {
      $("#result").text("Task hour should not 0 .");
      event.preventDefault();
    }
    else if (a>8)
    {
      $("#result").text("Task hour should not exceed 8 Hours.");
      event.preventDefault();
    }
    else if (a<0.5)
    {
      $("#result").text("Task hour should not lessthan 1 Hour.");
      event.preventDefault();
    }
}
</script>
</head>
<h1> Multi Tasks With with  Multi Project</h1> 
<% if @errors %>
    <hr>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@errors.count, "error") %> 
        prohibited  this Task from being saved:
      </h2>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
   </div>
<% end %>
<hr>
<div id="result">

</div>
<%= nested_form_for @project,remote:true, url: projects_updates_url do |f| %>

  select Task date : 
  <% if @taskdate %>
    <%= date_field(:obj, :taskdate, :value => @taskdate) %>
  <% else %>
    <%= date_field(:obj, :taskdate,:required=>true) %>
  <% end %>
  
  <%= f.fields_for :tasks do |task_form|  %>
  <table border=1>
  <tr><td>Project title</td><td>
  <%= task_form.collection_select(:project_id, Project.all, :id, :title) %></td></tr>
  <tr><td>Title</td><td><%= task_form.text_field :title %></td></tr>
  <tr><td>Description</td><td><%= task_form.text_field :description %></td></tr>
  <tr><td>Estimated Hours</td><td><%= task_form.text_field :hours,:onchange => "sumhours(this.value)", 
  :class => "shours" %></td></tr> 
  <tr><td><%= task_form.link_to_remove "Remove this task" %></td></tr>
  </table>
  <% end %>
<p><%= f.link_to_add "Add a task", :tasks %></p>
<%= f.submit :Create,:id =>"checkform" %>
<% end %>
