
<h1> All Task Details</h1>
<table border=1>
<tr>
<th>Project</th>
<th>Project description</th>
<th>Task Title </th><th>Task Description </th>
<th>Estimated Hours </th>
<th>Task date</th>
<th>Status</th>
</tr>
<tr>
<% @projects.each do |project| %>
<% c=project.tasks.count %>
    <td <% if c>0 %> rowspan=<%= c %> <% end %>> <%= project.title %></td>
    <td <% if c>0 %> rowspan=<%= c %> <% end %>> <%= project.description %></td>
    <% if c>0 
       project.tasks.each do |i| %>
        <td><%= i.title %></td><td><%= i.description %></td><td><%= i.hours %></td>
        <td><%= i.taskdate %></td>
        <td>
        <%= link_to "Task Finished",:controller => "tasks",:action=>"delete",:id=>i.id %> 
        </td>
        </tr>
       <tr>
    <% end %>
    <% else %>
    <td colspan=5 >No other Tasks In this Project</td>
    </tr>
    <% end %>
<% end %>
</table>