<!DOCTYPE html>
<html>
  <head>
    <title>Projecttasks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
.cred
{
  color: red;
}

</style>

  </head>


  <body>
   <center>

  <% if user_signed_in? %>
  <%= link_to "New",:controller => "projects",:action=>"insert" %>
  <%= link_to "Show",:controller => "projects",:action=>"show" %>
  <%= link_to "Multi tasks",:controller => "projects",:action=>"multitasks" %>
  <%= link_to "Show All tasks",:controller => "projects",:action=>"showtasks" %>
  <%= link_to "Edit profile", edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path  %> |
  <%= link_to "Login", new_user_session_path  %>
<% end %>
    <br>
     <div class="cred">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <p class="alert"><%= flash[:error] %></p>
    </div>
    <%= yield %>
  
  </body>
</html>
